@import url('https://fonts.googleapis.com/css?family=Unkempt');

h1, h2, h3, h4, th, li, p, .navbar-text, .navbar-brand{
  font-family: 'Unkempt', cursive;
}


h1, #title {
  font-family: 'Unkempt', cursive;
  font-size: 80px;
  color: white;
  text-align: center;
}

.claim, .step {
  font-family: 'Unkempt', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}

.gap {
  width: 15%;
}

.centre{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#image_base {
  
  background-image: url("https://cdn.glitch.com/f0a70106-eee3-44ca-abf0-7ae97fb8b0a6%2Fbooks-2568151_1920.jpg?1502577088807");
  
  height: 600px;
  border-top: solid;
  border-bottom: solid;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  padding: 0;
  margin: 0;
  
  width: 100%;
  min-width: 100%;
  
  display: flex;
}

#opacity-overlay {
  
  width: 100%;
  min-width: 100%;
  
  padding-top: 5%;
  height: 100%;
  
background: -moz-linear-gradient(top, rgba(0,0,0,0.70) 0%, rgba(0,0,0,0) 50%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0) 50%); 
background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); 
}

#instructions {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.70) 100%, rgba(0,0,0,0) 0%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0.70) 100%,rgba(0,0,0,0) 0%); 
background: linear-gradient(to bottom, rgba(0,0,0,0.7) 100%,rgba(0,0,0,0) 0%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); 
}

#claims {
  margin-top: 3%;
}