@import url('https://fonts.googleapis.com/css?family=Unkempt');

h1, h2, h3, h4, th, li, p, .navbar-text, .navbar-brand, label{
  font-family: 'Unkempt', cursive;
}

h1 {
  font-family: 'Unkempt', cursive;
  margin-bottom: 50px;
  font-size: 80px;
}

.centre{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#welcome {
  margin-bottom: 40px;
}

#voting_options {
  margin-bottom: 50px;
  margin-top: 30px;
}

label {
  margin-right: 2%;
  text-align: right;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
