@import url('https://fonts.googleapis.com/css?family=Unkempt');

h1, h2, h3, h4, th, li, p, .navbar-text, .navbar-brand, label{
  font-family: 'Unkempt', cursive;
}

h1 {
  font-family: 'Unkempt', cursive;
  margin-bottom: 50px;
  font-size: 80px;
}

.centre{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}


label {
  margin-right: 2%;
}
